*.iml
.idea/
app/app
app-forwarder/app-forwarder
publisher/publisher
terraform_modules/secrets/
*.terraform
*.tfstate
*.tfstate.backup
trash/
.autohidefiles
.DS_Store
*.BAK
setup_project.sh
terraform.env
