*.terraform
*.tfstate
*.tfstate.backup
*.iml
*.BAK
.idea/
.autohidefiles
.DS_Store
app/app
app-forwarder/app-forwarder
publisher/publisher
terraform_modules/secrets/
trash/
setup_project.sh
terraform.env
Makefile
